In [1]:
import pandas as pd
df = pd.read_csv("volcanoes.csv")

In [2]:
df

,Region,Number,Volcano Name,Country,Location,Latitude,Longitude,Elevation (m),Type,Status,Last Known Eruption
0,West Indies,1600-21-,Piparo,Trinidad,Trinidad,10.000,-61.000,140.0,Mud volcano,Historical,D1
1,West Indies,1600-08=,"Diables, Morne aux",Dominica,W Indies,15.612,-61.430,861.0,Stratovolcano,Fumarolic,U
2,West Indies,1600-09=,"Diablotins, Morne",Dominica,W Indies,15.503,-61.397,1430.0,Stratovolcano,Holocene,U
3,West Indies,1600-11=,"Plat Pays, Morne",Dominica,W Indies,15.255,-61.341,940.0,Stratovolcano,Radiocarbon,D5
4,West Indies,1600-10=,"Trois Pitons, Morne",Dominica,W Indies,15.370,-61.330,1387.0,Lava dome,Historical,D3
...,...,...,...,...,...,...,...,...,...,...,...
1566,Melanesia and Australia,0507-08-,NE Shepherd Islands,Vanuatu,Vanuatu-SW Pacific,-16.992,168.592,216.0,Stratovolcano,Holocene,Unknown
1567,Melanesia and Australia,0507-081,North Vate,Vanuatu,Vanuatu-SW Pacific,-17.470,168.353,594.0,Stratovolcano,Holocene,U
1568,Melanesia and Australia,0507-01=,Suretamatai,Vanuatu,Vanuatu-SW Pacific,-13.800,167.470,921.0,Complex volcano,Historical,D1
1569,Melanesia and Australia,0507-09=,Traitor's Head,Vanuatu,Vanuatu-SW Pacific,-18.754,169.238,817.0,Stratovolcano,Historical,D3
1570,Melanesia and Australia,0507-10=,Yasur,Vanuatu,Vanuatu-SW Pacific,-19.532,169.447,361.0,Stratovolcano,Historical,D1

In [3]:
df.describe()

          Latitude    Longitude  Elevation (m)
count  1571.000000  1571.000000    1566.000000
mean     14.686419    23.415143    1624.821839
std      31.940257   112.861177    1630.288854
min     -78.500000  -179.970000   -6000.000000
25%      -6.725000   -78.162000     655.250000
50%      14.070000    38.120000    1448.500000
75%      42.390000   137.570500    2334.750000
max      88.270000   179.580000    6879.000000

In [4]:
df.Type.value_counts()

Type
Stratovolcano          704
Shield volcano         169
Submarine volcano      142
Volcanic field          95
Caldera                 84
Cinder cone             76
Complex volcano         53
Lava dome               37
Pyroclastic cone        36
Maar                    19
Fissure vent            19
Unknown                 17
Tuff cone               13
Compound volcano        11
Stratovolcanoes          9
Crater rows              8
Pyroclastic cones        8
Scoria cone              7
Pyroclastic shield       6
Somma volcano            5
Subglacial volcano       5
Submarine volcanoes      5
Cinder cones             4
Submarine volcano?       4
Explosion crater         4
Fumarole field           4
Lava cone                4
Lava domes               3
Scoria cones             3
Pumice cone              3
Cone                     3
Volcanic complex         2
Hydrothermal field       2
Shield volcanoes         2
Maars                    1
Not Volcanic             1
Tuff rings               1
Fissure vents            1
Mud volcano              1
Name: count, dtype: int64